@{
    ViewData["Title"] = "Salle d'éveil";
}
<div class="row text-center">
    <div class="parallax-container">
        <div class="parallax">
            <img class="responsive-img" style="max-width:50%" src="img/eveil/bandeau.JPG">
        </div>
    </div>
    <div class="container">
        <h1 class="center-align" style="color:green">Salle d'éveil</h1>
        <p style="text-align:justify">Notre pièce professionnelle est aménagée en <b>“salle d’éveil”</b> selon les spécificités des personnes avec des troubles du spectre autistique.</p>
        <p style="text-align:justify">La salle d’éveil est aménagée en 3 espaces distincts :</p>
        <p style="text-align:justify"><h6><b>Un lieu de rencontre :</b></h6> Le coin de rencontre nous permet de nous réunir en début de séance, de se dire bonjour et d’établir le planning visuel de la séance ou de la journée. C’est là que nous nous réunissons pour chaque rassemblement ou transition.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/eveil/rencontre.JPG" />
        </div>
        <p style="text-align:justify"><h6><b>Un espace de travail/action :</b></h6> L’espace travail est utilisé pour toutes les activités à table. Les outils employés ont tous un lien avec les animaux ou le végétal. Nous en avons conçu certains, d’autres ont été fabriqués artisanalement et représentent nos animaux (puzzles) et le reste du matériel a été choisi selon les besoins des personnes accueillies en termes d’apprentissages cognitifs, de motricité fine et de travail autour des émotions.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/eveil/action.JPG" />
        </div>
        <p style="text-align:justify"><h6><b>Un coin de détente/intimité :</b></h6> Le coin de repos permet de s’isoler et se ressourcer. Il est composé d’un tipi/refuge, de coussins, poufs et d’objets et outils sensoriels à manipuler.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/eveil/detente.JPG" />
        </div>
        <p style="text-align:justify"><h6><b>Des animaux sont présents dans la salle :</b></h6> un aquarium dans le coin de détente au vue de ces bienfaits apaisants et la maison des cochons d'inde Olive et Cajou dans l'espace de travail afin de faciliter la concentration, l’attention et motiver la mise au travail. Des plantes accompagnent également ces petits compagnons.</p>
        <p style="text-align:justify">Des outils de repérage visuels sont construits pour faciliter la projection et rassurer les personnes tout au long des séances.</p>
        <p style="text-align:justify">Dans le cadre d’un accueil à la journée, les repas amenés par chaque personne peuvent être pris dans cet espace ou sur notre table de pique-nique extérieure. Dans l’attente de la construction de toilettes répondant aux normes accessibilité, des sanitaires seront accessibles dans un bâtiment proche de la salle (habitation personnelle).</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/eveil/table.JPG" />
        </div>
    </div>
</div>