@{
    ViewData["Title"] = "Accueil";
}

<div class="row text-center">
    <div class="parallax-container">
        <div class="parallax">
            <img class="responsive-img" style="max-width:80%" src="wwwroot/img/Accueil/oie.JPG">
        </div>
    </div>
    <div class="container">
        <h1 class="center-align" style="color:green">Bienvenue chez EducOnaturel</h1>
        <div class="center-align">
            <img class="responsive-img" style="max-width:77%" src="wwwroot/img/Accueil/tonneau.JPG" />
        </div>
        <p style="text-align:justify">EducOnaturel est un lieu d’accueil éducatif de jour en libéral, situé à Torfou (49-Maine et Loire). Nous sommes deux éducateurs alliant un accompagnement éducatif avec des médiations naturelles qui nous passionnent: la médiation par le jardin et la médiation animale. Nous avons construit et aménagé ce lieu en fonction des spécificités des personnes présentant des troubles du spectre autistique. Nous pouvons accueillir toute personne en situation de handicap, et également les enfants, adolescents et jeunes adultes relevant du secteur de la protection de l’Enfance. Nous proposons notre accompagnement aux familles, ainsi qu’aux structures spécialisées.</p>
        <div class="center-align">
            <img class="responsive-img" style="max-width:77%" src="wwwroot/img/Accueil/fleur.JPG" />
        </div>
        <p style="text-align:justify">5000m2 entourent le lieu, ainsi que des prairies. De nombreux compagnons à poils, à plumes et à écailles sont présents sur le lieu. Leurs places et leurs espaces ont un sens dans la mise en œuvre du projet. Ils vivent à nos côtés dans un souci de bien-être de leur quotidien et de respect de leurs besoins.</p>
        <div class="center-align">
            <img class="responsive-img" style="max-width:77%" src="wwwroot/img/Accueil/salleEveil.JPG" />
        </div>
        <p style="text-align:justify">Une pièce professionnelle est sur place. L’objectif étant de pouvoir proposer des temps de travail à table autour d’objectifs préalablement définis (communication, compétences scolaires, motricité fine…), mais également des temps de médiation collective autour de supports sélectionnés permettant la mise au travail des interactions sociales et de la sociabilité.</p>
        <div class="center-align">
            <img class="responsive-img" style="max-width:77%" src="wwwroot/img/Accueil/panneau.JPG" />
        </div>
        <h5><ins><b>Contexte d'émergence de ce projet:</b></ins></h5>
        <p style="text-align:justify">Depuis quelques années les pratiques et les politiques évoluent. Un changement s’opère autour des réflexions de prises en charge où la logique de places bascule vers une logique de solutions. Les listes d'attente dans les structures spécialisées s'allongent et de nombreux enfants se retrouvent sans solution. Les familles se retrouvent à coordonner un ensemble de prises en charge pour leur enfant. Aussi, de nouveaux dispositifs se créent, tels que des prestations externalisées en libéral.</p>
        <p style="text-align:justify">Pour les personnes accueillies au sein des structures spécialisées du médico-social et de la protection de l’enfance, des temps hors les murs et de répit avec le collectif peuvent être nécessaires. Pouvoir s’aérer et s’éloigner de son quotidien est souvent vecteur de mieux-être, ce qui peut faciliter un retour davantage apaisé.</p>
        <p style="text-align:justify">C’est dans ce contexte actuel qu’est né ce projet d’accueil éducatif. L’objectif est de pouvoir proposer un accueil et un accompagnement pensés et adaptés à chaque situation. Tout besoin peut être pris en compte, de la séance définie sur une durée limitée à l’accueil à la journée complète. De part une expérience d’intervention éducative à domicile, un accompagnement personnalisé peut être mis en place pouvant proposer à la fois des interventions à domicile et des séances sur le lieu d’accueil éducatif.</p>
        <div class="center-align">
            <img class="responsive-img" style="max-width:77%" src="wwwroot/img/Accueil/jardin.JPG" />
        </div>
    </div>
</div>
