@{
    ViewData["Title"] = "Tarifs et contacts";
}

    <div class="row text-center">
        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" style="max-width:80%" src="img/TarifsContacts/bandeau.JPG">
            </div>
        </div>
        <div class="container">
            <p style="text-align:justify">
                Si vous êtes intéressé par notre lieu d’accueil et les médiations que nous proposons, n’hésitez pas à nous contacter pour une première rencontre et visite gratuites. Ensemble nous pourrons échanger autour de vos besoins et attentes et ce que nous proposons. Un devis gratuit peut également être effectué, notamment si vous souhaitez monter un dossier MDA/MDPH. Nous sommes actuellement en lien avec ces dispositifs afin que nos prestations puissent être prises en charge dans le cadre de la PCH.
            </p>
            <h3>
                Tarifs :
            </h3>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Séance individuelle :
                </p>
                <footer class="blockquote-footer">
                    35 euros de l’heure. Une séance de 2h=70 euros.
                </footer>
                <footer class="blockquote-footer">
                    ½ journée : (2h30-3h30) = 80 euros
                </footer>
                <footer class="blockquote-footer">
                    Journée complète (2 médiations) = 140 euros.
                </footer>
            </blockquote>
            <br />
            <blockquote class="blockquote">
                <p class="mb-0">
                    Séance en groupe (divisible entre les personnes) :
                </p>
                <footer class="blockquote-footer">
                    1 médiation (2heures) : 80 euros
                </footer>
                <footer class="blockquote-footer">
                    ½ journée : 1 médiation : 90 euros / 2 médiations : 140€
                </footer>
                <footer class="blockquote-footer">
                    journée : 180 euros – Possibilité de 2 médiations.
                </footer>
            </blockquote>
            <address>
                <strong>Morgane MEHEU-CAVARO: </strong>06.27.77.14.79<br /> <strong>Sébastien CAVARO: </strong>06.62.24.69.67<br /> <strong>Mail: </strong>educonaturel@gmail.com<br /> <strong>Page facebook: </strong><a href="https://www.facebook.com/Educonaturel-105083900827417">Educonaturel</a>
            </address>
            <br />
            <div class="center-align">
                <img class="responsive-img" style="max-width:77%" src="img/TarifsContacts/fin.JPG"/>
            </div>
        </div>
    </div>