@{
    ViewData["Title"] = "Qui sommes nous ?";
}
    <div class="row text-center">
        <div class="parallax-container">
            <div class="parallax">
                <img src="img/QuiSommesNous/bandeau.JPG">
            </div>
        </div>
        <div class="container">
            <h1 class="center-align" style="color:green">Qui sommes-nous ?</h1>
            <p style="text-align:justify">Nous sommes deux éducateurs diplômés depuis plusieurs années. Notre pratique et nos regards sont à la fois communs et complémentaires. Au sein d’EducOnaturel, nous avons chacun notre domaine d’intervention, mais nous construisons notre projet ensemble et dans une cohérence où chacun exprime ses idées et partage son expérience.</p>
            <p style="text-align:justify">Nous intervenons dans une logique de bienveillance, d’éthique et de respect. Prendre le temps de la rencontre et évaluer là où en est la personne et sa famille sont les piliers de notre accompagnement. Valoriser les compétences et les comportements positifs est au cœur de notre pratique. Avec la famille et/ou les autres professionnels intervenant dans la situation, nous construisons un projet d’accompagnement axé autour d’objectifs régulièrement évalués et affinés. Nous veillons à échanger, partager, construire pour tendre vers un accompagnement ajusté au plus près des besoins de la personne.</p>
            <p style="text-align:justify">
                <h5><b><ins>Morgane :</ins></b></h5><br />
                <div class="center-align">
                    <img class="responsive-img center-align" style="max-width:60%" src="img/QuiSommesNous/momo.JPG" />
                </div>Expérience de 7 ans en protection de l’enfance et insertion sociale.
                <br /><br />
                Depuis Février 2018, éducatrice libérale intervenant à domicile auprès de personnes présentant des TSA, au sein du relais  « Four Happy Hands ». Interventions également dans le cadre du dispositif PCPE dans le département du 44 et du 49.
                <br /><br />
                Initiée à la méthode ABA avec le cabinet Côte à Côte de Nantes. Utilisation du PECS et sensibilisation à divers outils dans le cadre d’un travail supervisé avec Elisabeth EMILY Psychopédagogue et fondatrice de la maison de l’autisme sur Angers .
                <br /><br />
                Automne 2019 : formation : « Autisme et troubles envahissants du développement et la médiation animale » avec l’institut Français de Zoothérapie et Certification.
            </p>
            <br />
            <p style="text-align:justify">
                <h5><b><ins>Sébastien :</ins></b></h5><br />
                <div class="center-align">
                    <img class="responsive-img center-align" style="max-width:60%" src="img/QuiSommesNous/sebastien.jpg" />
                </div>
                Expérience de 2 ans au foyer Sésame (accompagnement de persones avec des troubles du spectre autistique et psychotiques).
                <br /><br />
                Expérience de 11 ans en protection de l’enfance.
                <br /><br />
                Expérience de 2 ans de moniteur d’atelier en espace vert à l’ESAT BIOCAT.
                <br /><br />
                Depuis Janvier 2019, éducateur en libéral intervenant à domicile auprès de personnes présentant des TSA, au sein du relais « Four Happy Hands », interventions également dans le cadre du dispositif PCPE dans le département du 49.
                Initié à la méthode ABA avec le cabinet Côte à Côte de Nantes.
                <br /><br />
                Octobre 2019 : Formation « Jardin de soin et de santé » par le Domaine de Chaumont-sur-Loire.
            </p>
            <p style="text-align:justify"><h5><b><ins>Nos finalités, valeurs et objectifs  généraux :</ins></b></h5></p>
            <p style="text-align:justify">La finalité de notre lieu d’accueil est le bien-être pour toute personne accompagnée, ainsi que sa famille ou son lieu de vie au quotidien. Pour tendre vers ce ressenti et cet état, les objectifs de cet espace sont :</p>
            <ul>
                <li> -Proposer un accompagnement adapté aux spécificités et aux besoins des personnes.</li>
                <li> - Entendre et prendre le temps d’écouter les familles autour de leurs demandes et leur connaissance de leur enfant.</li>
                <li> - Intervenir et construire un projet d’accompagnement dans une cohérence et une continuité des prises en charges existantes.</li>
                <li> - Reconnaitre les capacités de la personne et évaluer ce qui peut être mis en place pour l’amener à évoluer dans ses compétences et en apprendre de nouvelles.</li>
                <li> - Tendre vers une diminution de l’anxiété et des troubles du comportement.</li>
                <li> - Proposer de nouvelles sensations et expériences vectrices de plaisir et de mieux-être.</li>
                <li> - Poursuivre ou initier un travail autour de la communication.</li>
                <li> - Accompagner les émotions et leur expression.</li>
                <li> - Pouvoir étayer les personnes accompagnantes : famille et/ou professionnels.</li>
            </ul>
            <div class="center-align">
                <img class="responsive-img center-align" style="max-width:77%" src="img/QuiSommesNous/fin.JPG" />
            </div>
        </div>
        </div>