@{
    ViewData["Title"] = "Mediation animale";
}
<div class="row text-center">
    <div class="parallax-container">
        <div class="parallax">
            <img class="responsive-img center-align" style="max-width:50%" src="img/animale/bandeau.JPG">
        </div>
    </div>
    <div class="container">
        <h1 class="center-align" style="color:green">Médiation animale</h1>
        <p style="text-align:justify">L'Institut Français de Zoothérapie est le précurseur en France sur les formations. Il a formé plus de 80% des personnes qui travaillent professionnellement en médiation par l'animal en France et à l'étranger : C’est avec cet institut que Morgane s’est formée et a obtenu le titre de Zoothérapeute.</p>
        <p style="text-align:justify">La médiation animale se pratique professionnellement en individuel ou en petit groupe de deux ou trois personnes maximum, à l'aide d'un animal familier, consciencieusement sélectionné et éduqué, sous la responsabilité d’un professionnel, appelé « l’Intervenant Professionnel en médiation animale ». C'est pourquoi, la mise en place d'un programme en médiation par l'animal exige à la fois des connaissances de l'animal et des spécificités de la personne.</p>
        <p style="text-align:justify">Le contact avec l’animal, son côté apaisant et sécurisant apportent de nombreux bienfaits.</p>
        <p style="text-align:justify">L’animal pousse la personne à chercher la communication, qu’elle soit verbale ou non. Un travail peut être mis en place pour faire progresser le langage. L’animal peut amener la personne à s’ouvrir et entrer en relation avec le monde extérieur. Il peut ainsi permettre la création d’un lien de confiance avec le professionnel. Les séances en petit groupe permettent de développer les interactions sociales, de partager une activité commune. La médiation animale permet d’accroitre le sentiment de responsabilité, d’utilité, de confiance en soi ainsi que la notion du prendre soin. Le contact avec l’animal facilite l’expression des émotions, peut apaiser les angoisses et diminuer l’anxiété.</p>
        <p style="text-align:justify">A travers les activités avec l’animal, la motricité globale et fine des personnes peut évoluer.</p>
        <p style="text-align:justify">En effet, la médiation animale permet à la personne de prendre conscience de son corps par des exercices d’expression corporelle. Le repérage spatial et temporel est également mis au travail, ainsi que la notion de limite et d’espace personnel.</p>
        <p style="text-align:justify"><b>On ne choisit pas un animal par hasard. On ressent un élan vers celui qui viendra combler un besoin, celui qui nous rassure et nous "nourrit" par son affection et ce qu'il vient chercher ou faire naître en nous.</b></p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/animale/bisouFip&Nova.JPG" />
        </div>
        <p style="text-align:justify"><i>Nous construisons un projet personnalisé selon les spécificités de chaque personne, en lien avec la famille et les professionnels intervenant dans la situation. Il est régulièrement évalué.</i></p>
        <img class="responsive-img center-align" src="img/animale/description.png" />
        <h5><ins><b>Nos compagnons à 4 pattes:</b></ins></h5>
        <p style="text-align:justify"><h6><b><ins>IDYLE et NOMADE</ins></b></h6>Les poneys Fjords agés de plus de 20 ans. <b>Idyle</b> est une jument d’un naturel calme. Elle apprécie le contact avec les humains et les caresses. Jument pleine d’assurance, de confiance et de bienveillance, elle est habituée au contact des enfants. Elle est idéale pour travailler autour de la communication et des émotions. <b>Nomade</b> est un poney hongre (castré) de 18 ans. En recherche importante de liens et de contacts physiques, il est un partenaire idéal pour se rassurer et remplir son besoin d’affection. Il est idéal pour travailler autour de la perception du corps et des limites.</p>
        <div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/idyle.JPG" />
            </div>
            <div class="center-align  col s12 m12 l6">
                <img class="responsive-img" src="img/animale/nomade.JPG" />
            </div>
        </div>
        <div style="margin-top:2em">
            <h6><ins><b>POG</b></ins></h6>
            <p style="text-align:justify">Le chien bouvier bernois/berger allemand. Pog a été choisi selon son caractère, son environnement de naissance et les pré dispositions de ses races. Il reçoit une éducation basée sur une méthode comportementaliste positive. Très affectueux et joueur, il apprécie les temps de câlins, de jeux et son petit brossage quotidien.</p>
        </div>
        <div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/pog1.JPG" />
            </div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/pog2.JPG" />
            </div>
        </div>
        <div style="margin-top:2em">
            <h6><ins><b>Fip, Nova et Jazzy</b></ins></h6>
            <p style="text-align:justify">Les 3 lapines. Elles sont manipulées tous les jours afin d’être habituées aux caresses et au brossage. Très proches, elles se font régulièrement des câlins et des bisous. Elles évoluent dans un grand espace composé d’une grande cabane où un coin cocooning peut être installé. Elles ont accès à un bel espace en herbes où un coin pour se poser sera installé avec une table, des chaises et des couvertures. L’objectif étant de profiter pleinement des vertus apaisantes de ces jolies lapines. L’entretien de leur vaste espace permet de mettre au travail de nombreux objectifs : responsabilisation, prendre soin, travailler l’hygiène de l’environnement, notamment des espaces personnels, motricité globale et fine, coordination bimanuelle (maniement d’une grande pelle, balai, râteau), planification, organisation, repérage spatial (trouver le matériel, l’espace fumier) …</p>
        </div>
        <div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/fip&nova.JPG" />
            </div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/jazzy.JPG" />
            </div>
        </div>
        <div style="margin-top:2em">
            <h6><ins><b>OLIVE et CAJOU</b></ins></h6>
            <p style="text-align:justify">Les petites cochons d'inde shelty. Sœurs, elles arrivent d'un élevage respectueux de leur bien-être. Manipulées tous les jours, elles n'attendent que les caresses. Leurs petits couinements encouragent l'envie de communiquer avec elles. Elles sont installées dans la salle d’éveil afin de favoriser la concentration et la motivation.</p>
        </div>
        <div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/olive.JPG" />
            </div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/cajou.JPG" />
            </div>
        </div>
        <div style="margin-top:2em">
            <h5><ins><b>La base cour: Entre oies, poules et Monsieur Canard:</b></ins></h5>
            <p style="text-align:justify">La basse-cour est composée de deux oies, un carnard de barbarie et quatres poules. Un atelier autour du ramassage des oeufs et de l'entretien de leurs espaces pourra être mis en place.</p>
        </div>
        <div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/oie.JPG" />
            </div>
            <div class="center-align col s12 m12 l6">
                <img class="responsive-img" src="img/animale/canard.JPG" />
            </div>
        </div>
        <div class="center-align">
            <img class="responsive-img" style="max-width:50%; margin-top: 2em" src="img/animale/poules.JPG" />
        </div>
    </div>
</div>