@{
    ViewData["Title"] = "Mediation par le jardin";
}

<div class="row text-center">
    <div class="parallax-container">
        <div class="parallax">
            <img class="responsive-img" style="max-width:70%" src="img/jardin/bandeau.JPG">
        </div>
    </div>
    <div class="container">
        <h1 class="center-align" style="color:green">Médiation par le jardin</h1>
        <p style="text-align:justify">La médiation par le jardin s’inscrit dans le cadre général du prendre-soin. Le jardin favorise la diversité des expériences et des ressentis. C’est un espace où se rejoignent le sentiment d’être en sécurité et le sentiment de liberté. C’est un moyen d’épanouissement. Le jardin est un support de lien avec l’environnement, entre le professionnel et l’usager, entre les personnes elles-mêmes. Il est également support de sensations. Au travers du jardin on peut se laisser aller à sentir et profiter de cette ouverture sensorielle. Chaque élément est apte à stimuler les sens : toucher de différentes matières végétales et minérales, odeurs des plantes familières, couleurs et formes des fleurs, goût d’une aromatique, bruit de l’eau ou du chant des oiseaux… Dans des jeux de jardinage et de la marche, les formes d’équilibre et d’harmonie entre états mentaux et actions corporelles peuvent être expérimentées. Ceci a un impact positif sur la diminution de l’anxiété. Jardiner permet de créer, d’affirmer une capacité.</p>
        <p style="text-align:justify">Tout comme le support de médiation animale, cette activité sera construite en fonction de chaque situation. Un projet sera élaboré autour d’objectifs précis, définis avec la famille et dans une cohérence et continuité des autres prises en charge.</p>
        <p style="text-align:justify"><i><b><ins>Le jardin devient thérapeutique car il permet de:</ins></b></i></p>
        <ul>
            <li> - Stimuler les sens : création de sensations visuelles, auditives, olfactives et tactiles.</li>
            <li> - Canaliser les émotions au travers d’un lieu calme et sécurisant : jardiner pour s’apaiser.</li>
            <li> - Créer un lieu de partage permettant la rencontre et la sociabilité.</li>
            <li> - Créer un lieu d’échange pour favoriser les liens et communiquer.</li>
            <li> - Susciter l’intérêt et le plaisir de faire de nouvelles découvertes et expériences.</li>
            <li> - Prendre soin du jardin pour progressivement prendre soin de soi.</li>
            <li> - Développer la motricité et l’équilibre.</li>
        </ul>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:50%" src="img/jardin/fleur1.JPG" />
        </div>
        <p style="text-align:justify">Notre médiation par le jardin regroupe 3 espaces distincts :</p>
        <p style="text-align:justify"><h5><b><ins>Un jardin de pratique:</ins></b></h5></p>
        <p style="text-align:justify">Ce jardin a été créé par un véritable passionné, amoureux de la nature et des plantes. Des centaines de variétés différentes s'entremêlent et se partagent cet espace d'environ 1000m2. Des escaliers en bois jalonnent le parcours, ainsi que des roches, outils idéaux pour travailler la motricité et l’équilibre. Cet espace sera davantage utilisé pour l’apprentissage et l’expérimentation du jardinage.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/chemin.JPG" />
        </div>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/fleur2.JPG" />
        </div>
        <p style="text-align:justify"><h5><b><ins>Le potager:</ins></b></h5></p>
        <p style="text-align:justify">Le deuxième espace de notre médiation autour du jardin est le potager. Il est divisé en deux coins : les légumes variés et les cucurbitacées près d’un beau et vieux noyer. Des framboisiers et fraisiers sont également présents pour les gourmands. Des panneaux visuels sont installés devant chaque légume afin de faciliter le repérage, la participation, la discrimination et la communication.</p>
        <p style="text-align:justify">Des activités potagères sont proposées, telles que la plantation, l’entretien et bien sûr la récolte des différents légumes. Des ateliers autour du goût, de l’alimentation et de la reconnaissance des légumes sont mises en place : jeux, recettes, cuisine.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/patate.JPG" />
        </div>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/framboise.jpg" />
        </div>
        <p style="text-align:justify"><h5><b><ins>Un jardin de soin et de santé :</ins></b></h5></p>
        <p style="text-align:justify">Cet espace se veut intimiste et contenant. On se promène, on découvre, on observe. C’est le végétal qui stimule, donne envie, apaise. Le jardin de soin et de santé nous emmène dans son univers. 4 zones y sont créées :</p>
        <ul>
            <li><b>un coin repos</b>: un petit canapé pour s’asseoir, se reposer et contempler le végétal.</li>
        </ul>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/banc.JPG" />
        </div>
        <ul>
            <li><b>un coin intimité</b>: cet espace est pensé comme un refuge, un lieu pour se ressourcer, s’isoler, s’apaiser.</li>
        </ul>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:50%" src="img/jardin/tipi.JPG" />
        </div>
        <ul>
            <li><b>un coin action</b>: des cachettes sensorielles (boites à ouvrir), des carrés de jardinage et de manipulation, des plantes à sentir et à goûter jalonnent cet espace. Selon les envies, des petits outils sont à disposition pour venir gratter un petit coin de terre, planter…</li>
        </ul>
        <p style="text-align:justify">Des activités créatives sont mises en place afin de s’imprégner des couleurs et des éléments de la nature.</p>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/potager.JPG" />
        </div>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:50%" src="img/jardin/potager2.JPG" />
        </div>
        <ul>
            <li><b>un coin rencontre</b>: dans ce lieu on vient se rencontrer, être ensemble, échanger…</li>
        </ul>
        <div class="center-align">
            <img class="responsive-img center-align" style="max-width:77%" src="img/jardin/rencontre.JPG" />
        </div>
    </div>
    </div>